{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <br>
    <p style="font-size:20px;">This web application aggregates the latest news and weather forecast in all 4 regions of the San Francisco Bay Area. In addition, this web application aggregates the top mixed martial arts headlines and rankings in real-time.
    <br><br><br>
    <center>
        <img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/62062513_10217418091057399_176844273390452736_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_ohc=0YzdHPQ1uw8AX88smaI&_nc_ht=scontent-sjc3-1.xx&oh=fc89d7782a1ee85f3270a28dfcac198a&oe=5FF84420" alt="Simply Easy Learning" width="400"
                 height="500">
    </center> 
    <br><br><br>
    This app was created by Lucas Yum, a mixed martial artist enthusiast and proud East Bay resident.</p>
{% endblock content %}


